
.header_top {
  background: #111111;
  color: white;
}
ul {
  margin-bottom: -5px;
}
nav {
  ul {
    li {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 30px;
      text-transform: uppercase;
      color: #111111;
    }
  }
}
.tel{
    font-family: "Poppins";
}
